<div class="wrapper">

  <div style="background-color: #f4f3ef; min-height: 100%;">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
          </button>
          <a class="navbar-brand" href="#">Inicia Sesión</a>
        </div>
      </div>
    </nav>


    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <p style="color: red;" id="notice"><%= notice %></p>
            <div class="card">
              <div class="content">

                <%= render 'form' %>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

