<h1>Editing Cpost</h1>

<%= render 'form', cpost: @cpost %>

<%= link_to 'Show', course_cfolder_cpost_path(@course, @cfolder, @cpost) %> |
<%= link_to 'Back', course_cfolder_cposts_path(@course, @cfolder) %>
